{% extends 'articles/base.html' %}
{% load i18n %}

{% block title %}{% trans "Favourites" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2 class="mb-4">{% trans "My Favourite Articles" %}</h2>

        {% if favourites %}
            <div class="row">
                {% for favourite in favourites %}
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="/{{ LANGUAGE_CODE }}/articles/{{ favourite.article.pk }}/" class="text-decoration-none">
                                        {{ favourite.article.title }}
                                    </a>
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    {% trans "By" %} {{ favourite.article.author.username }}
                                </h6>
                                <p class="card-text">
                                    {{ favourite.article.synopsis|truncatechars:100 }}
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">{{ favourite.article.created|date:"M d, Y" }}</small>
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="/{{ LANGUAGE_CODE }}/articles/{{ favourite.article.pk }}/" class="btn btn-read btn-sm">
                                    {% trans "Read Article" %}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="text-center mt-3 text-muted">
                <p><strong>{{ favourites|length }}</strong> {% trans "favourite article" %}{{ favourites|length|pluralize }}</p>
            </div>
        {% else %}
            <div class="text-center py-5">
                <h3>{% trans "No Favourites Yet" %}</h3>
                <p class="text-muted">{% trans "Add some articles to your favourites to see them here!" %}</p>
                <a href="/{{ LANGUAGE_CODE }}/articles/" class="btn btn-primary">{% trans "Browse Articles" %}</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
