{% extends 'articles/base.html' %}
{% load i18n %}

{% block title %}{% trans "Articles" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        {% if articles %}
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">{% trans "Title" %}</th>
                            <th scope="col">{% trans "Synopsis" %}</th>
                            <th scope="col">{% trans "Writer" %}</th>
                            <th scope="col">{% trans "Created" %}</th>
                            <th scope="col">{% trans "When" %}</th>
                            <th scope="col">{% trans "Action" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in articles %}
                            <tr>
                                <td>
                                    <a href="/{{ LANGUAGE_CODE }}/articles/{{ article.pk }}/" class="text-decoration-none">
                                        {{ article.title }}
                                    </a>
                                </td>
                                <td>{{ article.synopsis|truncatechars:20 }}</td>
                                <td>{{ article.author.username }}</td>
                                <td>{{ article.created|date:"M. d, Y, g:i a" }}</td>
                                <td>{{ article.created|timesince }} {% trans "ago" %}</td>
                                <td>
                                    <a href="/{{ LANGUAGE_CODE }}/articles/{{ article.pk }}/" class="btn btn-read btn-sm">
                                        {% trans "Read" %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="text-center py-5">
                <h3>{% trans "No Articles Yet" %}</h3>
                <p class="text-muted">{% trans "Start by creating some articles!" %}</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
