{% extends 'articles/base.html' %}

{% block title %}Articles{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        {% if articles %}
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Synopsis</th>
                            <th scope="col">Writer</th>
                            <th scope="col">Created</th>
                            <th scope="col">When</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in articles %}
                            <tr>
                                <td>
                                    <a href="{% url 'articles:detail' article.pk %}" class="text-decoration-none">
                                        {{ article.title }}
                                    </a>
                                </td>
                                <td>{{ article.synopsis|truncatechars:20 }}</td>
                                <td>{{ article.author.username }}</td>
                                <td>{{ article.created|date:"M. d, Y, g:i a" }}</td>
                                <td>{{ article.created|timesince }} ago</td>
                                <td>
                                    <a href="{% url 'articles:detail' article.pk %}" class="btn btn-read btn-sm">
                                        Read
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="text-center py-5">
                <h3>No Articles Yet</h3>
                <p class="text-muted">Start by creating some articles!</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
